<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜单表单</title>
    <link rel="stylesheet" href="/static/layui/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/gov-theme.css">
</head>
<body style="padding: 15px;">
    <form class="layui-form" id="menuForm" lay-filter="menuForm">
        {% csrf_token %}
        <input type="hidden" name="id" id="menuId">
        
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input type="text" name="menu_name" required lay-verify="required" 
                       placeholder="请输入菜单名称" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">父级菜单</label>
            <div class="layui-input-block">
                <select name="parent_id" id="parentSelect" lay-filter="parentSelect">
                    <option value="0">主目录</option>
                </select>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">显示顺序</label>
            <div class="layui-input-block">
                <input type="number" name="menu_order" value="0" 
                       placeholder="请输入显示顺序" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">路由地址</label>
            <div class="layui-input-block">
                <input type="text" name="route_path" 
                       placeholder="请输入路由地址" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">菜单图标</label>
            <div class="layui-input-block">
                <select name="menu_icon" id="iconSelect" lay-search>
                    <option value="layui-icon-app"><i class="layui-icon layui-icon-app"></i> 应用</option>
                    <option value="layui-icon-home"><i class="layui-icon layui-icon-home"></i> 首页</option>
                    <option value="layui-icon-set"><i class="layui-icon layui-icon-set"></i> 设置</option>
                    <option value="layui-icon-set-fill"><i class="layui-icon layui-icon-set-fill"></i> 设置(填充)</option>
                    <option value="layui-icon-user"><i class="layui-icon layui-icon-user"></i> 用户</option>
                    <option value="layui-icon-group"><i class="layui-icon layui-icon-group"></i> 用户组</option>
                    <option value="layui-icon-friends"><i class="layui-icon layui-icon-friends"></i> 人员</option>
                    <option value="layui-icon-menu-fill"><i class="layui-icon layui-icon-menu-fill"></i> 菜单</option>
                    <option value="layui-icon-file"><i class="layui-icon layui-icon-file"></i> 文件</option>
                    <option value="layui-icon-edit"><i class="layui-icon layui-icon-edit"></i> 编辑</option>
                    <option value="layui-icon-list"><i class="layui-icon layui-icon-list"></i> 列表</option>
                    <option value="layui-icon-chart"><i class="layui-icon layui-icon-chart"></i> 图表</option>
                    <option value="layui-icon-chart-screen"><i class="layui-icon layui-icon-chart-screen"></i> 数据</option>
                    <option value="layui-icon-table"><i class="layui-icon layui-icon-table"></i> 表格</option>
                    <option value="layui-icon-tree"><i class="layui-icon layui-icon-tree"></i> 树形</option>
                    <option value="layui-icon-tabs"><i class="layui-icon layui-icon-tabs"></i> 选项卡</option>
                    <option value="layui-icon-template"><i class="layui-icon layui-icon-template"></i> 模板</option>
                    <option value="layui-icon-star"><i class="layui-icon layui-icon-star"></i> 收藏</option>
                    <option value="layui-icon-star-fill"><i class="layui-icon layui-icon-star-fill"></i> 收藏(填充)</option>
                    <option value="layui-icon-heart"><i class="layui-icon layui-icon-heart"></i> 喜欢</option>
                    <option value="layui-icon-heart-fill"><i class="layui-icon layui-icon-heart-fill"></i> 喜欢(填充)</option>
                    <option value="layui-icon-flag"><i class="layui-icon layui-icon-flag"></i> 标记</option>
                    <option value="layui-icon-flag-fill"><i class="layui-icon layui-icon-flag-fill"></i> 标记(填充)</option>
                    <option value="layui-icon-location"><i class="layui-icon layui-icon-location"></i> 定位</option>
                    <option value="layui-icon-location-fill"><i class="layui-icon layui-icon-location-fill"></i> 定位(填充)</option>
                    <option value="layui-icon-picture"><i class="layui-icon layui-icon-picture"></i> 图片</option>
                    <option value="layui-icon-picture-fine"><i class="layui-icon layui-icon-picture-fine"></i> 图片(精细)</option>
                    <option value="layui-icon-camera"><i class="layui-icon layui-icon-camera"></i> 相机</option>
                    <option value="layui-icon-camera-fill"><i class="layui-icon layui-icon-camera-fill"></i> 相机(填充)</option>
                    <option value="layui-icon-video"><i class="layui-icon layui-icon-video"></i> 视频</option>
                    <option value="layui-icon-headset"><i class="layui-icon layui-icon-headset"></i> 耳机</option>
                    <option value="layui-icon-speaker"><i class="layui-icon layui-icon-speaker"></i> 喇叭</option>
                    <option value="layui-icon-release"><i class="layui-icon layui-icon-release"></i> 发布</option>
                    <option value="layui-icon-console"><i class="layui-icon layui-icon-console"></i> 控制台</option>
                    <option value="layui-icon-engine"><i class="layui-icon layui-icon-engine"></i> 引擎</option>
                    <option value="layui-icon-component"><i class="layui-icon layui-icon-component"></i> 组件</option>
                    <option value="layui-icon-senior"><i class="layui-icon layui-icon-senior"></i> 高级</option>
                    <option value="layui-icon-util"><i class="layui-icon layui-icon-util"></i> 工具</option>
                    <option value="layui-icon-cols"><i class="layui-icon layui-icon-cols"></i> 布局</option>
                    <option value="layui-icon-upload"><i class="layui-icon layui-icon-upload"></i> 上传</option>
                    <option value="layui-icon-download-circle"><i class="layui-icon layui-icon-download-circle"></i> 下载</option>
                    <option value="layui-icon-search"><i class="layui-icon layui-icon-search"></i> 搜索</option>
                    <option value="layui-icon-date"><i class="layui-icon layui-icon-date"></i> 日期</option>
                    <option value="layui-icon-log"><i class="layui-icon layui-icon-log"></i> 日志</option>
                    <option value="layui-icon-email"><i class="layui-icon layui-icon-email"></i> 邮件</option>
                    <option value="layui-icon-chat"><i class="layui-icon layui-icon-chat"></i> 聊天</option>
                    <option value="layui-icon-survey"><i class="layui-icon layui-icon-survey"></i> 调查</option>
                    <option value="layui-icon-notice"><i class="layui-icon layui-icon-notice"></i> 通知</option>
                    <option value="layui-icon-code-circle"><i class="layui-icon layui-icon-code-circle"></i> 代码</option>
                </select>
            </div>
        </div>
    </form>

    <script src="/static/layui/layui/layui.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    console.log("Setting CSRF token for AJAX request"+ getCookie('csrftoken'));
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        layui.use(['form', 'layer'], function(){
            var form = layui.form;
            var layer = layui.layer;
            
            // 获取URL参数
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }
            
            var menuId = getUrlParam('id');
            var parentId = getUrlParam('parent_id');
            
            // 加载父级菜单列表
            $.get('/system/menu/parent-list/', function(res){
                if(res.code === 0){
                    var html = '';
                    res.data.forEach(function(menu){
                        html += '<option value="' + menu.id + '">' + menu.menu_name + '</option>';
                    });
                    $('#parentSelect').html(html);
                    
                    // 如果有指定父菜单
                    if(parentId){
                        $('#parentSelect').val(parentId);
                    }
                    
                    form.render('select');
                    
                    // 如果是编辑模式，加载菜单数据
                    if(menuId){
                        loadMenuData(menuId);
                    }
                }
            });
            
            // 加载菜单数据
            function loadMenuData(id) {
                $.get('/system/menu/edit/', {id: id}, function(res){
                    if(res.code === 0){
                        var data = res.data;
                        $('#menuId').val(data.id);
                        $('input[name="menu_name"]').val(data.menu_name);
                        $('#parentSelect').val(data.parent_id);
                        $('input[name="menu_order"]').val(data.menu_order);
                        $('input[name="route_path"]').val(data.route_path);
                        $('#iconSelect').val(data.menu_icon);
                        form.render();
                    }
                });
            }
            
            // 提交表单
            window.submitForm = function(callback) {
                var menuId = $('#menuId').val();
                var menuName = $('input[name="menu_name"]').val();
                
                if(!menuName){
                    layer.msg('请输入菜单名称');
                    return;
                }
                
                var url = menuId ? '/system/menu/edit/' : '/system/menu/add/';
                var formData = $('#menuForm').serialize();
                
                $.post(url, formData, function(res){
                    if(res.code === 0){
                        layer.msg(res.msg);
                        callback();
                    } else {
                        layer.msg(res.msg);
                    }
                });
            };
        });
    </script>
</body>
</html>